<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found – 404</title>
    <link rel="canonical" href="https://wordleunlimitedgames.netlify.app/">
    <meta name="robots" content="noindex, follow">
    <link rel="icon" type="image/png" sizes="32x32" href="https://wordleunlimitedgames.netlify.app/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://wordleunlimitedgames.netlify.app/public/favicon-16x16.png">
    <link rel="stylesheet" href="https://wordleunlimitedgames.netlify.app/public/style.css" is:global>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wordle" style="padding-bottom:40px;">
    <div class="header">
      <div class="title"><h1><a href="https://wordleunlimitedgames.netlify.app/">Wordle Unlimited</a></h1>
      </div>
      <div class="header-actions">
  <button><a href="https://wordleunlimitedgames.netlify.app/">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
  <path fill="currentColor" d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"https://wordleunlimitedgames.netlify.app/>
</svg></a>
  </button>
      </div>
    </div>

</div>
    <main>
          <section class="about" style="min-height:400px;">
            <div class="container">
              <h2>Page not Found – 404</h2>
              <p style="text-align:center;"><a href="https://wordleunlimitedgames.netlify.app/" style="text-decoration:underline;">Return to Home</a></p>

            </div>
              
</section>
    </main>

    <footer>
      <div class="container">
           <nav>
               <ul>
                  <li>&copy;2025<li/>
                  <li><a href="https://wordleunlimitedgames.netlify.app/privacy/" rel="nofollow">Privacy Policy</a></li>
                  <li><a href="https://wordleunlimitedgames.netlify.app/terms-of-service/" rel="nofollow">Terms of Service</a></li>
                </ul>
           </nav>
      </div>
    </footer>
</body>
</html>