<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle: Daily Free Word Puzzle | Play Unlimited</title>
    <meta name="description" content="Wordle - Free daily word game, even better than Wordle! Challenge your vocabulary, unlock more puzzles, and share your Wordle achievements!">
    <meta name="keywords" content="Wordle, wordle unlimited">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://Wordly.org">
    <meta property="og:title" content="Wordle: Daily Free Word Puzzle | Play Unlimited">
    <meta property="og:description" content="Wordle - Free daily word game, even better than Wordle! Challenge your vocabulary, unlock more puzzles, and share your Wordle achievements!">
    <meta property="og:locale" content="en">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://Wordly.org">
    <meta property="og:site_name" content="Wordle: Daily Free Word Puzzle | Play Unlimited">
    <meta property="og:image" content="/st.jpg">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Wordle: Daily Free Word Puzzle | Play Unlimited" />
    <meta name="twitter:description" content="Wordle - Free daily word game, even better than Wordle! Challenge your vocabulary, unlock more puzzles, and share your Wordle achievements!" />
    <meta name="twitter:image" content="/st.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="/style.css" is:global>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body onload="onInit()">
  <div class="wordle">
    <div class="header">
      <div class="header-actions">
        <button id="howtoplay"></button>
      </div>
      <div class="title"><h1>Wordle Unlimited</h1>
      </div>
      <div class="header-actions">
        <button id="stats"></button>
        <button id="settings"></button>
  <button 
    class="icon-button" 
    title="Restart Game" 
    onclick="resetGame(true); onClickPlayAgain();"
  >
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
      <path fill="currentColor" d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
    </svg>
  </button>
      </div>
    </div>
    <div class="words"></div>
    <span id="candidates-left" style="margin-top: 16px;"></span>
    <div style="position: relative; margin-top: 16px;">
      <div class="keyboard"></div>
      <div class="end-actions">
        <span id="word-answer"></span>
        <span>Answer</span>
        <button id="playagain" tabindex="-1" onclick="onClickPlayAgain()">Play<br>Again</button>
      </div>
    </div>
    <div class="modal">
      <button class="modal-close"></button>
      <div class="modal-title"></div>
      <div class="modal-content"></div>
    </div>
    <div class="overlay">
      <div class="howtoplay">
        <button class="howtoplay-close"></button>
        <b style="align-self: center; font-size: 17px;">HOW TO PLAY</b>
        <br>
        <span>Guess the <b>WORDLE</b> in 6 attempts.</span>
        <br>
        <span>Each guess must be a valid 5 letter word. Hit the Enter button to submit an attempt.</span>
        <br>
        <span>After each guess, the color of the tiles will change to show how close your guess was to the word.</span>
        <br>
        <div class="line-sep"></div>
        <br>
        <b>Examples</b>
        <div style="display: flex;" class="letters-example">
          <div style="background: #538d4e; border-color: #538d4e;">W</div>
          <div>E</div>
          <div>A</div>
          <div>R</div>
          <div>Y</div>
        </div>
        <span>The letter W is in the word and in the correct spot.</span>
        <div style="display: flex;" class="letters-example">
          <div>P</div>
          <div style="background: #b59f3b; border-color: #b59f3b;">I</div>
          <div>L</div>
          <div>L</div>
          <div>S</div>
        </div>
        <span>The letter I is in the word but in the wrong spot.</span>
        <div style="display: flex;" class="letters-example">
          <div>V</div>
          <div>A</div>
          <div>G</div>
          <div style="background: #3a3a3c; border-color: #3a3a3c;">U</div>
          <div>E</div>
        </div>
        <span>The letter U is not in the word in any spot.</span>
      </div>
      <div class="settings">
        <button class="settings-close"></button>
        <br>
        <b style="align-self: center; font-size: 17px;">SETTINGS</b>
      </div>
    </div>
    <div class="backdrop"></div>
  <script src="/wd.js" is:inline></script>
</div>
    <main>
        <section class="games">
            <div class="container">
              <h2>Play Other Games</h2>
                <div class="game-grid">
                    <div class="game">
                        <div class="game-logo"><a href="https://www.playfiddlebops.com/" target="_blank" title="FiddleBops">
                            <img src="/tw.jpg" alt="FiddleBops"></a>
                         </div>
                        <p class="game-item-title">FiddleBops</p>
                        <p>Create music endlessly</p>
                        <button><a href="https://www.playfiddlebops.com/" target="_blank" title="FiddleBops">Play</a></button>
                    </div>
                    <div class="game">
                      <div class="game-logo"><a href="https://dragon-sweeper.org/" target="_blank" title="Dragon Sweeper">
                        <img src="/play-bg.png" alt="Dragon Sweeper"></a>
                      </div>
                        <p class="game-item-title">Dragon Sweeper</p>
                        <p>Fresh Puzzle Game</p>
                        <button><a href="https://dragon-sweeper.org/" target="_blank" title="Dragon Sweeper">Play</a></button>
                    </div>

                </div>
            </div>
        </section>
        
          <section class="about">
            <div class="container">
              <h2>About Wordle Game</h2>
              <div class="about-content">
                <h3>HOW TO PLAY</h3>
                  <h4>Enter the first word</h4>
                    <p class="truncate-text">
To get started, simply enter any five-letter word to find out which letters match the hidden word. In total, you will have 6 tries to guess the hidden word.
                    </p>
                  <h4>Find out what letters are in the hidden word</h4>
                    <p class="truncate-text">
                    If any letters are marked in yellow, this means that this letter is in the hidden word, but doesn't match the exact location in this word. If any letter is marked in green, then it is in that word and is in the exact location. If the letter remains gray, then it isn't in the hidden word.

                    </p>
                  <h4>Try to guess the hidden word</h4>
                    <p class="truncate-text">
Now if you know a few letters with the exact location (green) and a few letters that are in the word (yellow) you can try to solve the hidden word and win the game!
                    </p>
                 </div>

                 <div class="about-content">
                   <h3>Can I challenge my friends on wordle?</h3>
                     <p class="truncate-text">
                        At this time there is no multiplayer version of Worlde, but you can challenge your friends in another way. Using this website (opens in other tab) you can create your own “hidden word”, you will get a link to a specific game that has as the answer the word you choose. You can share this link with your friends.
                     </p>
                 </div>

                 <div class="about-content">
                   <h3>Why did I get a "Word not in dictionary" message?</h3>
                     <p class="truncate-text">
                        This alert message means that the given word was not found in our word bank. Try another word, or if you think the word is correct, let us know.
                     </p>
                 </div>

                  <div class="about-content">
                   <h3>Wordle is easy for me, how to make things more complicated?</h3>
                     <p class="truncate-text">
                      Wordle unlimited gives you difficulty mode - a real challenge where Every hint revealed must be used in subsequent guesses. You can also change the light-dark theme to suit your needs.
                     </p>
                    </div>
              
              <div class="about-content">
                <h3>Wordle Tips and Tricks</h3>
                    <p class="truncate-text">
For some people, word games can seem daunting and hard to get at first. If you are one of those people, don't stress! We've got a couple of tricks and tips to cheat Wordle and make sure you win every time. 
                    </p>       
                  <h4>Most Common Letters</h4>
                    <p class="truncate-text">
To solve Wordle as efficiently as possible, try words that include the letters e, t, a, i, o, n, s, h, and r; these are the most common letters in English. Another great trick is to begin with words that start with the letters t, a, o, d, and w; as again, these are the most common starting letters in English.
                    </p>
                  <h4>Wordle Word Finder</h4>
                    <p class="truncate-text">
As we mentioned before, having a Wordle word finder to use like Word Tips can massively improve your game scores and help you enjoy Wordle even more. Need more five-letter words, or to sort through words with specific letters; our Wordle word finder's got you covered!
                    </p>
                  <h4>Think Outside The Box</h4>
                    <p class="truncate-text">
To solve Wordle, means to combine valuable tools like Word Tips, and your knowledge of language into one. Don't restrict yourself with only the words you know; think bigger, think better. If you need more wordle help, we recommend getting yourself on a Wordle word finder and mastering the game of five-letter words first hand!
                    </p>
                 </div>

    </main>

    <footer>
      <div class="container">
           <nav>
               <ul>
                  <li>&copy;2025<li/>
                  <li><a href="/privacy/">Privacy Policy</a></li>
                  <li><a href="/terms-of-service/">Terms of Service</a></li>
                </ul>
           </nav>
      </div>
    </footer>
</body>
</html>